# Авто-активация питона для простого локального сервера
layout python3

# Переменные окружения для будущего бэкенда (заглушки)
export NODE_ENV=development
export DJANGO_SETTINGS_MODULE=config.settings
export SECRET_KEY="replace-me-later"
